libtool
aclocal.m4
compile
Makefile.in
TAGS
configure
depcomp
install-sh
missing
m4/
ltmain.sh
config.h
config.status
config.h.in

config.guess
config.sub
libunicap/po/Makefile.in.in
libunicapgtk/po/Makefile.in.in

unicap_version.h
unicapgtk_version.h
ucil_version.h

POTFILES
stamp-it
stamp-h1
build

libunicap/doc/libunicap/html
libunicap/doc/libunicap/xml
libunicapgtk/doc/libunicapgtk/html/
libunicapgtk/doc/libunicapgtk/xml/
libunicapgtk/doc/libunicapgtk/tmpl/
libunicapgtk/doc/libunicapgtk/libunicapgtk-docs.sgml
libucil/doc/libucil/xml/
libucil/doc/libucil/tmpl/
libucil/doc/libucil/html/


*\.deps
*\.libs

libunicap/**/Makefile
libucil/**/Makefile
libunicapgtk/**/Makefile

*.log
*.pc

*/autom4te.cache/